.hero{
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #222831, #505866);
    position: relative;

    .wrapper{
        max-width: 1366px;
        width: 70%;
        height: 100%;
        margin: auto;

        .textContainer{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            

            h2{
                font-size: 30px;
                font-family: 'Cascadia Code';
                color: #9DB2BF;
                letter-spacing: 3px;
            }

            h1{
                font-size: 88px;
                font-family: 'DIN ALTERNATE';
                z-index: 1;
            }

            .buttons{
                button{
                    padding: 20px;
                    border:1px solid #27374D;
                    border-radius: 10px;
                    background-color: #505a68;
                    color: #DDE6ED;
                    margin-right: 20px;
                    cursor: pointer;
                    font-weight: 300;
                    z-index: 2;
                }
            }

            img{
                width: 50px;
            }
        }   
        }

        .imageContainer{
        height: 100%;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-10%, -35%);
        opacity: 0.75;
        z-index: 0;

        img {
            height: 60%;
        }    
    }
    .slidingTextContainer{
        position: absolute;
        font-size: 50vh;
        bottom: -120px;
        white-space: nowrap;
        color: #ffffff06;
        width: 50%;
        font-weight: bold;
        z-index: 0;
    }

}