.projects{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
    .mainCard{
        background-color: #B6BBC4;
        color: rgb(34, 34, 34);
        height: 450px;
        border-radius: 10px;

        .imageContainer{
            background-color: #31304D;
            height: 56px;
            border: #76ABAE 1px solid;
            height: 45%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .imageContainer img{
            height: 100%;
            width: auto;
        }

        .textContainer{
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 4px;
        
            p:first-child {
                font-size: 1.5rem;
                font-family: 'Roboto Slab', serif;
                font-weight: bold;
            }
            
            p:last-child{
                text-align: justify;
                font-family: 'Lato', sans-serif;
                margin-bottom: 0%;
            }
            button{
                font-family: 'Montserrat', sans-serif;
                padding: 7px 13px 7px 13px;
                border:1px solid #27374D;
                border-radius: 5px;
                background-color: #667283;
                color: #DDE6ED;
                margin-right: 20px;
                cursor: pointer;
                font-weight: 300;
            }
            button:hover{
                background-color: #27374D;
            }
        }
            
    }
}