.card {
    width: 100%; // Ensure the card fills the slide width
    max-width: 100%; // Prevent the card from exceeding the slide
    height: 500px; // Allow height to adjust dynamically
    background-color: #161A30;
    color: #F0ECE5;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 1rem;
  
    img {
      width: 100%; // Scale the image to fit the card width
      max-width: 100%; // Prevent the image from exceeding the card's width
      height: auto; // Maintain the aspect ratio
      max-height: 200px; // Shrink if the image is too large
      object-fit: cover; // Crop to fit the specified dimensions
      border-radius: 4px; // Optional: Add rounded corners
    }
  
    h3 {
      font-size: 1.2rem;
      margin: 0.5rem 0;
      padding: 1rem;
    }
  
    p {
      font-size: 0.9rem;
      color: #B6BBC4;
      margin-top: 0.5rem;
      padding: 0 1rem;
    }

    .card-footer {
        background-color: #F0ECE5; // Light footer background
        opacity: 0.8;
        padding: 1rem 0; // Add padding for spacing
        text-align: center;
        width: 100%; // Ensure the footer fills the card width
    
        a {
          display: inline-block;
          background-color: #161A30; // Button background
          color: #F0ECE5; // Button text color
          text-decoration: none; // Remove underline
          padding: 0.5rem 1rem; // Button padding
          border-radius: 4px; // Rounded corners
          font-size: 0.9rem;
          font-weight: bold;
          z-index: 4;
    
          &:hover {
            background-color: #31304D; // Darker background on hover
          }
        }
      }
  }
  