* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "DM Sans", sans-serif;
}

body {
	background-color: #222831;
	color: lightgrey;
}

a {
	text-decoration: none;
	color: inherit;
}

section {
	height: 100vh;
	scroll-snap-align: center;
}

.app {
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scrollbar-gutter: stable;
}
